.modal-overlay-policy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: #fff;
  overflow-y: scroll;
}
.modal-overlay-policy .modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  width: 100%;
  position: relative;
  transform: translate(-50%, 0);
  top: 0;
}
.policy_h2 {
	text-align: center;
}
.modal__close {
  position: absolute;
  top: 14px;
  right: 30px;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
}
.policy-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  font-size: 14px;
}

.policy-banner p {
  margin: 0;
}

.policy-banner__close {
  background: #007BFF;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.poli_text {
    text-align: center;
    margin-left: 10px;
}

.form__policy {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  text-align: right;
  color: #c4c4c4;
  line-height: 20px;
  margin-top: 10px;
  gap: 10px;
}

.form__policy .js-open-policy {
  display: inline;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox__text {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  color: #000;
}

.checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 22px;
  height: 22px;
  border: 1px solid #ecedf3;
  border-radius: 3px;
  background: #fff;
}

.checkbox__input:checked + .checkbox__text::before {
  background-color: #ff9739;
  border-color: #ff9739;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}
